@import "~bootstrap/dist/css/bootstrap.min.css";

.contenedor-cartas {
  min-height: 100vh;
  background: rgb(0, 0, 0);
}

.carta {
  width: 15%;
  /* min-height: 50vh; */
  border-radius: 10px;
  overflow: hidden;
}

div[class*="contenedor-icono"] {
  width: 100%;
  padding: 0 10px;
  display: flex;
  font-size: 80px;
}

.contenedor-icono-abajo {
  justify-content: right;
}

.card-number {
  font-size: 100px;
}
